.App {
  text-align: center;
}

/* table css to line up inputs in columns on the same row */

.table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-row>*:not(:last-child) {
  padding-right: 20px;
}

.table-cell {
  display: table-cell;
}

/* css for inputs and their wrapper elements */

.form-wrapper {
  margin: 2% 20%;
  padding: 2% 4%;
  border: 1px solid gray;
  border-radius: 5px;
}

label {
  font-size: 14px;
}

input,
select,
textarea {
  font-size: 16px;
  margin-top: 3px;
  padding: 5px;
  border: 1.2px solid gray;
  box-sizing: border-box;
}

.input-wrapper {
  text-align: left;
}

.form-control {
  width: 100%;
  margin-bottom: 10px;
}

.form-select {
  width: 100%;
  margin-bottom: 10px;
}

.required-star {
  color: red;
}

/* button css */

.btn {
  font-size: 16px;
  background-color: #006ba8;
  color: white;
  width: 25%;
  padding: 1% 0;
  border-radius: 5px;
  border: none;
}

/* responsive css */

@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }

  .table,
  .table-row,
  .table-cell {
    display: block;
  }

  .table-row>*:not(:last-child) {
    padding-right: 0;
  }

  .form-wrapper {
    margin: 2% 4%;
    padding: 2% 4%;
  }
}